# AWS Lambda Powertools for structured logging
aws-lambda-powertools==2.40.0

# For parsing the YAML configuration files
PyYAML==6.0.1

# Boto3 is the AWS SDK for Python
boto3==1.34.128

# For sending an HTTP POST request to a Slack webhook
requests==2.32.3
